/*Definition Body*/
body {

	background-color: blue;
}
/*Hintergrund Input*/
#losgehts{
	position: absolute;
	display: block;
	left: 0%;
	top: 0%;
	height: 50%;
	width: 50%;
	background-color: green;
	z-index: 1;
}
/*Hintergrund_Uebung*/
#HintergrundUebung{

	position: absolute;
	display: block;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 1;
}
/*Input*/
#Input{
	position: absolute;
	display: block;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	background-color: green;
	z-index: 10;
}
/*rotes Quadrat*/
#Quadrat_linker_Fuss{

	border: 0px solid red;
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	height: 40px;
	width: 40px;
	background-color: red;
	z-index: 1;
}
#Quadrat_rechter_Fuss{

	border: 0px solid red;
	position: absolute;
	display: block;
	left: 30%;
	top: 30%;
	height: 40px;
	width: 40px;
	background-color: red;
	z-index: 1;
}
#Quadrat_Hand{

	border: 0px solid red;
	position: absolute;
	display: block;
	left: 50%;
	top: 30%;
	height: 40px;
	width: 40px;
	background-color: red;
	z-index: 1;
}
/* Zahlen */
#Zahl_linker_Fuss{

	border: 0px solid red;
	position: absolute;
	display: block;
	left: 30%;
	top: 30%;
	height: 40px;
	width: 40px;
	background-color: red;
	z-index: 1;
}
#Zahl_rechter_Fuss{

	border: 0px solid red;
	position: absolute;
	display: block;
	left: 30%;
	top: 30%;
	height: 40px;
	width: 40px;
	background-color: red;
	z-index: 1;
}
#Zahl_Hand{

	border: 0px solid red;
	position: absolute;
	display: block;
	left: 30%;
	top: 30%;
	height: 40px;
	width: 40px;
	background-color: red;
	z-index: 1;
}