/*Definition Body*/
body {

	background-color: blue;
}
/*Buttons*/
#fertig{
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	height: 10%;
	width: 10%;
	background-color: grey;
	z-index: 20;
}
#Start{
	position: absolute;
	display: block;
	left: 0%;
	top: 0%;
	height: 50%;
	width: 50%;
	background-color: blue;
	z-index: 1;
}	
/*Hintergrund_Uebung*/
#HintergrundUebung{

	position: absolute;
	display: block;
	left: 0%;
	top: 0%;
	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 1;
}
/*Input*/
#Input1{
	position: absolute;
	display: block;
	left: 0%;
	top: 0%;
	height: 30%;
	width: 100%;
	background-color: green;
	z-index: 10;
}
#Input2{
	position: absolute;
	display: block;
	left: 0%;
	top: 30%;
	height: 30%;
	width: 100%;
	background-color: green;
	z-index: 10;
}
#Input3{
	position: absolute;
	display: block;
	left: 0%;
	top: 60%;
	height: 30%;
	width: 100%;
	background-color: green;
	z-index: 10;
}
/*rotes Quadrat*/
#Quadrat_linker_Fuss{

	border: 0px solid red;
	position: absolute;
	display: block;
	top: 30%;
	left: 30%;
	height: 40px;
	width: 40px;
	background-color: red;
	text-align: center;
	color: blue;
	z-index: 1;
}
#Quadrat_rechter_Fuss{

	border: 0px solid red;
	position: absolute;
	display: block;
	top: 30%;
	left: 50%;
	height: 40px;
	width: 40px;
	background-color: red;
	color: blue;
	text-align: center;
	z-index: 1;
}
#Quadrat_Hand{

	border: 0px solid red;
	position: absolute;
	display: block;
	top: 70%;
	left: 50%;
	height: 40px;
	width: 40px;
	background-color: red;
	color: blue;
	text-align: center;
	z-index: 1;
}
#Timer{

	border: 1px solid black;
	position: absolute;
	display: block;
	right: 10%;
	top: 10%;
	height: 40px;
	width: 100px;
	background-color: white;
	text-align: center;
	z-index: 1;
}